<h1>Edit the {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="input-field">
        <input name="title" id="title" type="text" class="validate" value="{{course.title}}" required>
        <label for="title">A Name of a course</label>
        <span class="helper-text" data-error="Enter a name"></span>
    </div>
    <div class="input-field">
        <input name="price" id="price" type="number" class="validate" required min="1" value="{{course.price}}">
        <label for="price">A price of a course</label>
        <span class="helper-text" data-error="Enter a price"></span>
    </div>
    <div class="input-field">
        <input name="img" id="img" type="text" class="validate" value="{{course.img}}" required>
        <label for="img">URL of an image</label>
        <span class="helper-text" data-error="Enter an image url"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Edit the course</button>
</form>

<form action="/courses/remove" method="post">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn red">Delete a course</button>
</form>